@require "fonts/segoe-ui"
@require "fonts/meiryo.styl"
@require "fonts/ms-pgothic.styl"
@require "fonts/consolas.styl"

body, button, input, select, textarea
  font-family: 'Segoe UI', 'Meiryo', 'MS PGothic', 'MS Mincho', 'Malgun Gothic', 'Yu Gothic', 'Segoe UI Symbol', 'Segoe UI Emoji', 'Segoe MDL2 Assets' !important

::placeholder
  font-family: 'Segoe UI', 'Meiryo', 'MS PGothic', 'MS Mincho', 'Malgun Gothic', 'Yu Gothic', 'Segoe UI Symbol', 'Segoe UI Emoji', 'Segoe MDL2 Assets' !important

code
  font-family: 'Consolas'
