.appMount-3lHmkl
  background-color: transparent

body
  background-color: transparent

  &::before
    background-image: var(--int-bg-image)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    filter: brightness(var(--int-bg-opacity))
    content: ''
    height: 100vh
    width: 100vw
    position: absolute
    z-index: 0

.layer-3QrUeG, .layers-3iHuyZ
  .theme-dark &, .theme-light &
    background-color: transparent

.container-2lgZY8
  background-color: transparent

.base-3dtUhz
  width: 0
  border-radius: 0
  position: relative
  overflow: visible
  z-index: 2
