.channels-Ie2l6A
  width: $channels-width
  position: unset
  z-index: 3

  .theme-dark &, .theme-light &
    background-color: rgba(#000, .15)
  
  .platform-linux &
    transform: unset

.container-PNkimc
  background-color: transparent


.unread-1xRYoj
  display: none


.container-2Rl01u
  cursor: default
  pointer-events: none

.header-2o-2hj
  box-shadow: 0 0
  cursor: default
  height: 48px
  padding: 0
  padding-left: 12px

  &::after
    background-image: url(fd-icon('more_white'))
    background-size: 18px
    background-position: center
    background-repeat: no-repeat
    pointer-events: all
    content: ''
    height: 48px
    width: 48px

  &:hover::after
    background-color: $theme-dark-hover
  &:active::after
    background-color: $theme-dark-active

  &:hover, .popout-open &
    background-color: transparent

.button-1w5pas
  display: none
