.chat-3bRxxu
  .theme-dark &
    background-color: $theme-dark-bg
  .theme-light &
    background-color: $theme-light-bg

  form
    margin: 0 20px

    .theme-dark &, .theme-light &
      background-color: transparent

.content-yTz4x3
  .theme-dark &, .theme-light &
    background-color: transparent


.messagesWrapper-3lZDfY
  .theme-dark &, .theme-light &
    background-color: transparent

.messages-3amgkR
  padding-bottom: 10px


// Chat form
.channelTextArea-rNsIhG
  padding-top: 0

  .theme-dark &, .theme-light &
    border-top: 0

.channelTextAreaDisabled-rZtG8r
  opacity: 1

.inner-zqa7da
  cursor: default
  border-radius: 10px

  .theme-dark &
    background-color: $theme-dark
  .theme-light &
    background-color: $theme-light

  .chat-3bRxxu &
    margin-top: -10px

.innerDisabled-2mc-iF
  cursor: default

.textArea-2Spzkt
  .theme-dark &
    color: $theme-light
  .theme-light &
    color: $theme-dark

  &::placeholder
    .theme-dark &
      color: $theme-dark-blurb
    .theme-light &
      color: $theme-light-blurb

// Chat divider
.divider-3gKybi
  text-align: left
  display: flex
  align-items: center
  margin-top: 10px
  margin-left: 0
  margin-right: 0
  padding: 0 20px

  &.dividerRed-MKoLlr::after
    background-color: var(--int-accent-color)
    content: ''
    display: block
    height: 10px
    width: 10px
    border-radius: 50%

.dividerContent-2L12VI
  font-size: 0.9375rem
  font-weight: normal
  line-height: normal
  text-transform: none
  margin-right: 12px

  .theme-dark &
    color: $theme-dark-blurb !important
  .theme-light &
    color: $theme-light-blurb !important

  &::before, &::after
    display: none

// Cozy Message
.containerCozy-jafyvG
  padding-top: 10px
  padding-bottom: 10px

.divider-32i8lo
  border: 0 !important


.message-1PNnaP
  margin-bottom: 4px

.username-_4ZSMR
  font-size: 1rem
  font-weight: normal
  line-height: normal

  .theme-dark &
    color: $theme-light
  .theme-light &
    color: $theme-dark


.isMentioned-N-h9aa
  .theme-dark &, .theme-light &
    background-color: transparent

  &::before
    border-radius: 0


.headerCozy-2N9HOL
  height: 20px
  margin-bottom: 5px

.timestampCozy-2hLAPV, .timestamp-1E3uAL
  font-size: .75rem
  font-weight: normal
  line-height: normal
  margin-left: .5rem

  .theme-dark &
    color: $theme-dark-blurb
  .theme-light &
    color: $theme-light-blurb

.contentCozy-3XX413
  width: auto

.messageCozy-2JPAPA
  & ~ &
    .markup-2BOw-j:not(.embedContentInner-FBnk7v)
      border-top-left-radius: 10px

  .markup-2BOw-j:not(.embedContentInner-FBnk7v)
    max-width: fit-content
    padding: 10px 12px
    border-radius: 0 10px 10px
    margin-right: 76px

    .theme-dark &
      background-color: $theme-dark
      color: $theme-light
    .theme-light &
      background-color: $theme-light
      color: $theme-dark

    &:empty
      display: none

.markup-2BOw-j
  code.inline
    border-radius: 0

    .theme-dark &, .theme-light &
      background-color: transparent

// Message avatar
.avatar-17mtNa
  margin-top: 2px

// Attachments
.imageWrapper-2p5ogY
  border-radius: 10px

// Embed
.embed-IeVjo6
  border-radius: 10px
  overflow: hidden

.embedPill-1Zntps
  border-radius: 0

.embedInner-1-fpTo
  border: 0
  border-radius: 0

  .theme-dark &
    background-color: $theme-dark
  .theme-light &
    background-color: $theme-light

// System message, user join etc
.content-2M3n_H
  .theme-dark &
    color: $theme-dark-blurb
  .theme-light &
    color: $theme-light-blurb

// New server creation, welcome message
.welcomeMessage-3_Mcht
  align-items: flex-start

  .h1-1IDj26
    font-size: 1.25rem
    font-weight: normal
    line-height: normal
    text-transform: none
    margin-top: 0
    margin-bottom: 20px

    .theme-dark &
      color: $theme-light
    .theme-light &
      color: $theme-dark

  p
    font-size: 1rem
    line-height: normal
    width: 70%
    margin-top: 0
    margin-bottom: 20px
    margin-left: 12px

    .theme-dark &
      color: $theme-dark-blurb
    .theme-light &
      color: $theme-light-blurb

  &::after
    opacity: .25
    content: ''
    display: block
    height: 0
    width: 100%
    border-bottom: 1px solid transparent
    box-sizing: border-box

    .theme-dark &
      border-bottom-color: $theme-dark-outline
    .theme-light &
      border-bottom-color: $theme-light-outline

.exclamation-1mi7Vi, .share-1EA-d2, .mobile-3_KEmF, .twitter-1TN3uJ
  background-size: 75%
  background-position: center
  background-repeat: no-repeat
  opacity: .75

  .theme-light &
    filter: invert(1)

.exclamation-1mi7Vi
  fd-iconbg: 'chat-bubble-question_white'
.share-1EA-d2
  fd-iconbg: 'add-user_white'
.mobile-3_KEmF
  fd-iconbg: 'smartphone-notification_white'
.twitter-1TN3uJ
  fd-asset: 'platforms/twitter_white.svg'

// Start of channel
.base-34jWEe
  height: auto
  margin: 0
  padding: 20px
  border-bottom: 0

  .theme-dark &
    background-image: none
  .theme-light &
    background-image: none

  &:empty
    display: none

  &::after
    opacity: .25
    content: ''
    display: block
    height: 0
    width: 100%
    margin-top: 20px
    border-bottom: 1px solid transparent
    box-sizing: border-box

    .theme-dark &
      border-bottom-color: $theme-dark-outline
    .theme-light &
      border-bottom-color: $theme-light-outline

  h1
    font-size: 1rem
    font-weight: normal
    line-height: normal

    .theme-dark &
      color: $theme-dark-blurb
    .theme-light &
      color: $theme-light-blurb

// No channel
.noChannel-Z1DQK7
  .theme-dark &
    background-color: $theme-dark-bg
  .theme-light &
    background-color: $theme-light-bg

.title-2BxgL2
  font-size: 1.25rem
  font-weight: bold
  line-height: normal
  text-transform: none

  .theme-dark &
    color: $theme-light
  .theme-light &
    color: $theme-dark

.text-GwUZgS
  font-size: 1rem
  line-height: normal

  .theme-dark &
    color: $theme-dark-blurb
  .theme-light &
    color: $theme-light-blurb
