.chat-3bRxxu
  .theme-dark &
    background-color: $theme-dark-bg
  .theme-light &
    background-color: $theme-light-bg

  form
    .theme-dark &, .theme-light &
      background-color: transparent

.content-yTz4x3
  .theme-dark &, .theme-light &
    background-color: transparent


.messagesWrapper-3lZDfY
  .theme-dark &, .theme-light &
    background-color: transparent


// Chat form
.channelTextArea-rNsIhG
  padding-top: 0

  .theme-dark &, .theme-light &
    border-top: 0

.inner-zqa7da
  border-radius: 10px

  .theme-dark &
    background-color: $theme-dark
  .theme-light &
    background-color: $theme-light

  .chat-3bRxxu &
    margin-top: -10px

// Cozy Message
.containerCozy-jafyvG
  padding-top: 0
  padding-bottom: 20px

  .hasMore-3e72_v + &
    padding-top: 20px

.divider-32i8lo
  display: none


.message-1PNnaP
  margin-bottom: 4px

.username-_4ZSMR
  font-size: 1rem
  font-weight: normal
  line-height: normal

  .theme-dark &
    color: $theme-light
  .theme-light &
    color: $theme-dark


.isMentioned-N-h9aa
  .theme-dark &, .theme-light &
    background-color: transparent

  &::before
    border-radius: 0


.headerCozy-2N9HOL
  height: 20px
  margin-bottom: 5px

.timestampCozy-2hLAPV
  font-size: .75rem
  font-weight: normal
  line-height: normal
  margin-left: .5rem

  .theme-dark &
    color: $theme-dark-blurb
  .theme-light &
    color: $theme-light-blurb

.contentCozy-3XX413
  width: auto

.messageCozy-2JPAPA
  & + &
    .markup-2BOw-j:not(.embedContentInner-FBnk7v)
      border-top-left-radius: 10px

  .markup-2BOw-j:not(.embedContentInner-FBnk7v)
    max-width: fit-content
    padding: 10px 12px
    border-radius: 0 10px 10px
    margin-right: 76px

    .theme-dark &
      background-color: $theme-dark
      color: $theme-light
    .theme-light &
      background-color: $theme-light
      color: $theme-dark

    &:empty
      display: none

// Message avatar
.avatar-17mtNa
  margin-top: 2px

// Attachments
.imageWrapper-2p5ogY
  border-radius: 10px

// Embed
