.guildsWrapper-5TJh6A
  width: 48px
  border-radius: 0
  position: relative
  overflow: visible
  z-index: 1

  .theme-dark &, .theme-light &
    background-color: transparent

  &:before
    background-image: var(--int-bg-image)
    background-attachment: fixed
    filter: brightness(var(--int-bg-opacity)) blur(10px)
    pointer-events: none
    content: ''
    height: 100%
    width: calc(100% + 240px)
    padding: 10px
    position: absolute
    z-index: -1

  &::after
    fd-asset: 'noise.png'
    pointer-events: none
    content: ''
    height: 100%
    width: calc(100% + 240px)
    position: absolute
    z-index: -1


// Scrollers
.scrollerWrap-1IAIlv
  background-color: rgba(#000, .15)
  width: 100%

.guilds-1q_RqH
  margin-bottom: $guilds-height + $guilds-separator * 2
  padding: 0

  &::-webkit-scrollbar
    display: none


// Online friends count and guild separator
.friendsOnline-_wi_fM
  display: none

.guildSeparator-1X4GQ1
  display: none


// Direct Messages
.dms-rcsEnV
  margin-top: 0
  margin-bottom: $guilds-separator


// Guild
.guild-1EfMGQ
  height: $guilds-height
  width: $guilds-width

  & + &
    margin-top: 0

  &:hover
    background-color: $theme-dark-hover
  &:active
    background-color: $theme-dark-active

  // Placeholder
  &.guildPlaceholder-1ioaid
    background-color: transparent
    display: flex
    align-items: center
    justify-content: center
    border: 0
    border-radius: 0

    &::after
      background-color: $theme-dark-active
      content: ''
      height: $guilds-height - (13 * 2)
      width: $guilds-width - (13 * 2)
      margin: 13px
      border-radius: 50%

  // Unread and selected indicator
  &::before
    background-color: transparent
    transform: translateY(-50%) !important
    transition: none !important
    opacity: 1 !important
    content: ''
    display: block !important
    height: 0% !important
    width: 5px !important
    margin-top: 0 !important
    border-radius: 0 !important
    position: absolute !important
    top: 50% !important
    left: 0 !important

  &.unread-qLkInr::before
    background-color: #fff !important
    opacity: .35 !important
    height: 25% !important

  &.selected-ML3OIq::before
    background-color: var(--int-accent-color) !important
    opacity: 1 !important
    height: 50% !important

  // Voice and video indicator
  &::after
    display: none !important
  
  &.audio-3vVhBi, &.video-25yGu3
    background-size: 20px
    background-position: center
    background-repeat: no-repeat

    .guildInner-3DSoA4
      opacity: 0
  
  &.audio-3vVhBi
    fd-iconbg: 'speaker_white'
  &.video-25yGu3
    fd-iconbg: 'video-call_white'

  // Add guilds button
  &.guildsAdd-21_IdK
    fd-icon: 'add_white'
    background-color: transparent
    cursor: default
    border: 0
    border-radius: 0

    &::before, .guildsAddInner-1KMFy-
      display: none

    &:hover
      background-color: $theme-dark-hover
    &:active
      background-color: $theme-dark-active
  
  // Unable to connect to guilds
  .guildsError-3cFMtY
    fd-icon: 'warning_white'
    font-size: 0
    line-height: 0
    cursor: default
    height: 100%
    width: 100%
    border: 0
    border-radius: 0

    .theme-dark &, .theme-light &
      background-color: transparent
      border-color: transparent


.guild-1EfMGQ .guildInner-3DSoA4
  background-color: transparent !important
  height: $guilds-height
  width: $guilds-width
  border-radius: 0 !important

  a
    cursor: default
    height: 100%
    width: 100%

  // Discord Home
  a[draggable='false']:not([user]):not([channel])
    fd-icon: 'home_white'

    svg
      display: none

  .iconSizeLarge-161qtT, .inner-1V3pNb
    background-size: 0
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 100%

    &::after
      background-image: inherit
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      content: ''
      display: block
      height: 24px
      width: 24px
      border-radius: 50%
      overflow: hidden

  .noIcon-1a_FrS
    for num in (10...20)
      &[style={'"' + 'font-size: ' + num + 'px;' + '"'}]
        font-size: num * 0.8px !important

    &::after
        display: none

  .avatar-S_nsxk
    height: 100%
    width: 100%

// Mention badge
.badge-1GsMF2
  font-size: 0
  pointer-events: none
  height: 10px
  width: 10px
  padding: 0
  border-radius: 50%
  position: absolute
  bottom: 20%
  right: 20%

// Mention indicator
.unreadMentionsIndicatorBottom-BXS58x
  bottom: $guilds-height + $guilds-separator * 2


// Account bar
.container-2Thooq:not(.powercord-spotify)
  display: flex;
  flex-direction: column
  align-items: flex-start
  height: auto
  width: auto
  margin: 0
  padding: 8px
  border: 0
  position: absolute
  bottom: $guilds-separator
  left: $guilds-width
  z-index: 5

  .theme-dark &, .theme-light &
    background-color: transparent

  // Hide
  background-color: transparent
  box-shadow: 0 10px 30px transparent, 0 1px 8px transparent
  transition: background-color .25s ease, box-shadow .25s ease
  pointer-events: none

  &:hover
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2)
    transition-delay: .35s
    pointer-events: all

    .theme-dark &
      background-color: lighten($theme-dark, 7.5%)
    .theme-light &
      background-color: darken($theme-light, 7.5%)

  > *:not(.avatarSmall-3ACRaI)
    transition: opacity .25s ease
    transition-delay: 0
    opacity: 0

  &:hover > *:not(.avatarSmall-3ACRaI)
    transition-delay: .35s
    opacity: 1

  // Avatar
  .avatarSmall-3ACRaI
    opacity: 1 !important
    cursor: default
    pointer-events: all
    height: $guilds-height
    width: $guilds-width
    margin-right: unset
    border-radius: 0
    overflow: hidden
    position: fixed
    bottom: $guilds-separator
    left: 0

    &:hover
      background-color: $theme-dark-hover
    &:active
      background-color: $theme-dark-active

    .status-2zcSVk
      height: 10px
      width: 10px
      border-radius: 50%
      position: absolute
      bottom: 20%
      right: 20%

      .theme-dark &, .theme-light &
        border: 0

    .inner-1W0Bkn
      background-size: 0
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      overflow: visible
      position: unset

      &::before
        content: ''
        height: 100%
        width: 100%
        position: absolute

      &::after
        background-image: inherit
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        content: ''
        display: block
        height: 24px
        width: 24px
        border-radius: 50%

  .accountDetails-3k9g4n
    font-size: 16px
    line-height: normal
    user-select: none
    display: flex
    align-items: center
    justify-content: center
    height: 48px
    width: 100%
    padding: 0
    box-sizing: border-box

    .username
      font-size: inherit
      max-width: unset

      .theme-dark &
        color: $theme-light
      .theme-light &
        color: $theme-dark

    .discriminator
      font-size: inherit
      opacity: 1
      margin-top: unset

      .theme-dark &
        color: $theme-dark-blurb
      .theme-light &
        color: $theme-light-blurb

  .directionRow-3v3tfG
    justify-content: center
    width: 100%
    padding: 0
    box-sizing: border-box

  .button-2b6hmh
    background-size: 0
    opacity: 1
    cursor: default
    height: 48px
    width: 48px
    border-radius: 0
    position: relative

    &:hover
      .theme-dark &
        background-color: $theme-dark-hover
      .theme-light &
        background-color: $theme-light-hover
    &:active
      .theme-dark &
        background-color: $theme-dark-active
      .theme-light &
        background-color: $theme-light-active

    // Doing this in a pseudoelement rather than directly,
    // much easier to handle, no more specificity issues
    &::after
      background-size: 18px
      background-position: center
      background-repeat: no-repeat
      content: ''
      display: block
      height: 48px
      width: 48px

      .theme-light &
        filter: invert(1)

    &[aria-label='Mute']::after
      fd-iconbg: 'mic_white'
    &[aria-label='Unmute']::after
      fd-iconbg: 'mic-disabled_white'
    &[aria-label='Deafen']::after
      fd-iconbg: 'speaker_white'
    &[aria-label='Undeafen']::after
      fd-iconbg: 'speaker-disabled_white'
    &[aria-label='User Settings']::after
      fd-iconbg: 'settings_white'

  // Settings button has this for some reason
  .buttonInner-LmnaN_
    display: none
