@font-face
  font-family: 'Consolas'
  src: local('Consolas'),
    url('https://intrnl.github.io/FluentDiscord/assets/fonts/Consolas.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Consolas.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Consolas'
  src: local('Consolas Bold'), local('Consolas-Bold'),
    url('https://intrnl.github.io/FluentDiscord/assets/fonts/Consolas-Bold.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Consolas-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Consolas'
  src: local('Consolas Bold Italic'), local('Consolas-BoldItalic'),
    url('https://intrnl.github.io/FluentDiscord/assets/fonts/Consolas-BoldItalic.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Consolas-BoldItalic.woff2') format('woff2')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Consolas'
  src: local('Consolas Italic'), local('Consolas-Italic'),
    url('https://intrnl.github.io/FluentDiscord/assets/fonts/Consolas-Italic.woff2') format('woff2'),
    url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Consolas-Italic.woff2') format('woff2')
  font-weight: normal
  font-style: italic
