@font-face
  font-family: 'Meiryo'
  src: local('Meiryo'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/Meiryo.woff2') format('woff2'),
      url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Meiryo.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Meiryo'
  src: local('Meiryo Italic'), local('Meiryo-Italic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/Meiryo-Italic.woff2') format('woff2'),
      url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Meiryo-Italic.woff2') format('woff2')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Meiryo'
  src: local('Meiryo Bold'), local('Meiryo-Bold'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/Meiryo-Bold.woff2') format('woff2'),
      url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Meiryo-Bold.woff2') format('woff2')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Meiryo'
  src: local('Meiryo Bold Italic'), local('Meiryo-BoldItalic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/Meiryo-BoldItalic.woff2') format('woff2'),
      url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/Meiryo-BoldItalic.woff2') format('woff2')
  font-weight: bold
  font-style: italic
