@font-face
  font-family: 'MS PGothic'
  src: local('MS PGothic'), local('MS-PGothic'),
      url('https://intrnl.github.io/FluentDiscord/assets/fonts/MS-PGothic.ttf') format('truetype'),
      url('https://cdn.staticaly.com/gh/intrnl/FluentDiscord/master/assets/fonts/MS-PGothic.ttf') format('truetype')
  font-weight: normal
  font-style: normal
