.popoutBottom-1YbShG.noArrow-3BYQ0Z[style*='overflow: hidden;']
  box-shadow: 0 0
  transform: none !important
  height: auto !important
  width: auto !important
  overflow: visible !important
  margin-top: 8px
  left: $guilds-width + $guilds-separator !important

.menu-Sp6bN1
  animation: fade-in .25s ease
  width: $channels-width - $guilds-separator * 2
  border: 1px solid transparent
  border-radius: 0
  box-sizing: border-box

  .theme-dark &
    background-color: $theme-dark
    box-shadow: 0 0
    border-color: $theme-dark-outline
  .theme-light &
    background-color: $theme-light
    box-shadow: 0 0
    border-color: $theme-light-outline

.item-1GzJrl
  font-size: 14px
  line-height: normal
  cursor: default
  display: flex
  align-items: center
  min-height: 34px
  padding: 0 12px

  .theme-dark &
    color: $theme-light
  .theme-light &
    color: $theme-dark

  &:hover
    .theme-dark &
      color: $theme-light
      background-color: $theme-dark-hover
    .theme-light &
      color: $theme-dark
      background-color: $theme-light-hover
  &:active
    .theme-dark &
      background-color: $theme-dark-active
    .theme-light &
      background-color: $theme-light-active

.icon-2doZ3q
  margin-right: 12px
