.popoutBottom-1YbShG.noArrow-3BYQ0Z[style*='overflow: hidden;']
  box-shadow: 0 0
  pointer-events: none
  display: flex
  transform: none !important
  height: auto !important
  width: $channels-width - $guilds-separator * 2 !important
  overflow: visible !important
  margin-top: 8px
  left: $guilds-width + $guilds-separator !important

.menu-Sp6bN1
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2) !important
  animation: fade-in .25s ease
  pointer-events: all
  width: auto
  margin-left: auto
  border: 1px solid transparent
  border-radius: 0
  box-sizing: border-box

  .theme-dark &
    background-color: $theme-dark-popout
    border-color: $theme-dark-popout-outline
  .theme-light &
    background-color: $theme-light-popout
    border-color: $theme-light-popout-outline

.item-1GzJrl
  font-size: 15px
  line-height: normal
  cursor: default
  display: flex
  align-items: center
  padding: 8px 12px

  &, &.invite-271nFU, &.leave-1DRJfn
    .theme-dark &
      color: $theme-light
    .theme-light &
      color: $theme-dark

    &:hover
      .theme-dark &
        color: $theme-light
      .theme-light &
        color: $theme-dark

  &:hover
    .theme-dark &
      background-color: $theme-dark-hover
    .theme-light &
      background-color: $theme-light-hover
  &:active
    .theme-dark &
      background-color: $theme-dark-active
    .theme-light &
      background-color: $theme-light-active

.icon-2doZ3q
  background-size: 0
  opacity: 1
  height: 18px
  width: 18px
  margin-right: 12px

  &::before
    background-size: 18px
    background-position: center
    background-repeat: no-repeat
    content: ''
    display: block
    height: 100%
    width: 100%

    .theme-light &
      filter: invert(1)

  &[style='background-image: url("/assets/d4ff0d2af68cd1119f0d16ef79d1369c.svg");']::before
    fd-iconbg: 'add-user_white'
  &[style='background-image: url("/assets/9a93097ab591379729c68f15a17b26af.svg");']::before
    fd-iconbg: 'settings_white'
  &[style='background-image: url("/assets/2fc862597335421b35a79aa9aaba4a86.svg");']::before
    fd-iconbg: 'add-row_white'
  &[style='background-image: url("/assets/52bc30f8a2b1a51f808a785819ca00b5.svg");']::before
    fd-iconbg: 'add-folder_white'
  &[style='background-image: url("/assets/6a711bd91522e885413464a88a4e3c69.svg");']::before
    fd-iconbg: 'notification-center_white'
  &[style='background-image: url("/assets/6afcd5d6a8c9d467e27e1bb48755dce0.svg");']::before
    fd-iconbg: 'shield_white'
  &[style='background-image: url("/assets/bc11a9099f5729962c095cb49d5042f6.svg");']::before
    fd-iconbg: 'edit-row_white'
  &[style='background-image: url("/assets/858df73648ac3877a22156da2e69a5fd.svg");']::before
    fd-iconbg: 'visibility_white'
  &[style='background-image: url("/assets/50f8ef2cdb4e7697a4202fb9c6d0e1fc.svg");']::before
    fd-iconbg: 'visibility-disabled_white'
  &[style='background-image: url("/assets/00de6b3cbb5c4dbcec817c91262f5f5b.svg");']::before
    fd-iconbg: 'exit_white'

.separator-2zcjq8
  margin: 0 8px
  border-bottom: 1px solid transparent
  
  .theme-dark &
    border-bottom-color: $theme-dark-popout-outline
  .theme-light &
    border-bottom-color: $theme-light-popout-outline