.popoutTopLeft-b5Eb3O.noArrow-3BYQ0Z
  box-shadow: 0 0
  transform: none !important
  height: auto !important
  width: auto !important
  margin-top: 0
  margin-bottom: $guilds-separator
  top: unset !important
  left: $guilds-width !important
  bottom: -100vh
  overflow: visible !important

.menu-Sp6bN1.alt-3btY0e
  animation: fade-in .25s ease
  width: $channels-width - $guilds-separator
  border: 1px solid transparent
  border-radius: 0

  .theme-dark &
    background-color: $theme-dark
    box-shadow: 0 0
    border-color: $theme-dark-outline
  .theme-light &
    background-color: $theme-light
    box-shadow: 0 0
    border-color: $theme-light-outline
  