.popoutTopLeft-b5Eb3O.noArrow-3BYQ0Z[style*='overflow: hidden;']
  box-shadow: 0 0
  transform: none !important
  height: auto !important
  width: auto !important
  margin-top: 0
  margin-bottom: $guilds-separator
  top: unset !important
  left: $guilds-width !important
  bottom: -100vh
  overflow: visible !important

.menu-Sp6bN1.alt-3btY0e
  width: $channels-width - $guilds-separator
  